<figure  class="fig-{% if float %}{{ float }}{% endif %}">
{% for asset in page.assets -%}
{%- set ass = asset | split(pat="/") | last -%}
	{%- if ass is containing(source) -%}
		{%- set src = get_url(path=asset) -%}
		{%- if height -%}
			{% set image = resize_image(path=asset, height=height, op="fit_height") %}
			{% set src = image.url %}
		{%- endif %}

		{%- if not caption -%}
			{% set caption =  asset | split(pat="/") | last | split(pat=".") | first %}
		{%- endif %}
		<a title="{{ caption }}" data-lightbox="mygallery" data-title="{{ caption }}" href="{{ get_url(path=asset)}}"><img class="img-rounded" src="{{ src }}" alt="{{ caption }}"></a>
		<figcaption><div class="tooltip"><i class="fas fa-info-circle"></i><span class="tooltip-text">{{ caption | safe }}</span></div></figcaption>
		{% break %}
	{%- endif %}
{%- endfor %}
</figure> 
